.btn {
    width: 200px;
    height: 200px;
    font-size: 200%;
    background-color: black;
    color: white
}
  
.wins {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.td {
    width: 300px
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto
}

.status {
    margin: auto;
}