/* It's all COURIER now! */
.vyrupaeva button {
  font-family: courier;
  background-color: #EEE;
}

.DiceRoller {
  text-align: center;
}

.Dice-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Dice-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dice-link {
  color: #61dafb;
}

.vyrupaeva_die {
  margin: 5px 0;
  background-color: #EEE;
  border: 1px solid white;
  padding: 0;
}

.vyrupaeva_die button {
  font-family: courier;
  background-color: #EEE;
  padding: 5px;
  width: 100%;
}

.die-label {
  font-size: small;
}

.die-remove button {
  font-family: courier;
  font-size: small;
  padding: 5px;
  width: 100%;
}

#total-display {
  font-size: large;
  /* I just added color, white was too obscure */
  color: rgb(44, 22, 80)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
