.blue {
	background-color: blue;
	width: 8.33%;
}
.red {
	background-color: red;
	width: 8.33%;
}
.green {
	background-color: green;
	width: 8.33%;
}
.yellow {
	background-color: yellow;
	width: 8.33%;
}
.orange {
	background-color: orange;
	width: 8.33%;
}